html{overflow:hidden}.level{width:100vw}a,button{-webkit-app-region:no-drag}#navbar{-webkit-app-region:drag}.hero-foot,.hero-head{z-index:999999}
.marko-router{width:100%;height:100%;margin:0;padding:0}
html{overflow:hidden}
.welcome{text-align:left;padding:10px}